# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.project
.classpath
.settings/
*.iml
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Configuration files with sensitive data
application-secret.yml
src/main/resources/application-secret.yml

# Misc
/bin/
/build/
